<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<form class="container" action="/templates/create" method="post">
    <div class="mb-3">
        <label class="form-label">Title</label><br>
        <input type="text" class="form-control" name="title">
    </div>
    <div class="mb-3">
        <label class="form-label">Contents</label><br>
        <textarea class="form-control" name="content" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

</body>
</html>